ENVIRONMENT=local

PROJECT_NAME=SomeCompanyName

SERVER_HOST

DB_NAME
DB_USER
DB_PASS
DB_HOST
DB_PORT

HASHING_ALGORYTHM
SECRET

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_TLS=True
SMTP_USER
SMTP_PASSWORD
EMAILS_FROM_EMAIL=noreply@gmail.com
EMAILS_FROM_NAME=SomeCompanyName

GENIUS_CLIENT_ID
GENIUS_CLIENT_SECRET
